[Desktop Entry]
Name=Turret GUI
GenericName=Utility
Comment=Controls turret.
Terminal=false
Icon=turretgui
Exec=turretgui
Path=/usr/lib/turretgui/
Type=Application
MimeType=inode/directory;
Categories=Utility;FileTools;FileManager;
Keywords=folder;manager;explore;disk;filesystem;orthodox;copy;queue;queuing;operations;
